@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
body {
  position: relative;
  /* display: flex; */
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}
.navbar {
  background-color: #fff;
}
.brand {
  background: linear-gradient(#e91e63, #2196f3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button_search {
  background: transparent;
  align-items: center;
}
.button_search :hover {
  color: #2196f3;
}
.navbar-brand img {
  width: 100px;
  height: 40px;
}
.isi1 {
  display: flex;
  flex-wrap: wrap;
}
.bar1 {
  flex: 1 1 100px;
}
.stock {
  flex: 1 1 100px;
}
.isi2 {
  display: flex;
  flex-wrap: wrap;
}
.stock_in {
  flex: 1 1 100px;
}
.isi3 {
  display: flex;
  flex-wrap: wrap;
}
.stock_out {
  flex: 1 1 100px;
}
.bawah {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #e91e63;
  min-height: 100px;
  padding: 20px 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bawah .social_icon,
.bawah .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background: #e91e63;
  flex-wrap: wrap;
}
.bawah .social_icon,
.bawah .menu li {
  list-style: none;
}
.bawah .social_icon li a {
  font-size: 2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.bawah .social_icon li a:hover {
  transform: translateY(-10px);
}
.bawah .menu li a {
  font-size: 1.2em;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
}
.bawah .menu li a:hover {
  opacity: 1;
}
.bawah p {
  color: #fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
